<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/form.css">
    <title>Login</title>
</head>
<body>
<div class="container">
    <h2>Login</h2>
    <form method="POST" action="{% url 'signin' %}">
        {% csrf_token %}
        <div class="checkbox-group">
            <label><input type="checkbox" name="role" value="admin"> Admin</label>
            <label><input type="checkbox" name="role" value="user"> User</label>
        </div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
    
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
    
        <div class="actions">
            <p>If not signed up, <a href="/signup" class="signup-link">Signup</a></p>
            <button type="submit">Login</button>
        </div>
    </form>
    
     {% comment %} <p>Don't have an account? <a href="{% url 'signup' %}">Sign up</a></p> {% endcomment %}
    {% for message in messages %}
    <p style="color: red;">{{ message }}</p>
    {% endfor %} 
</div>
</body>
</html>
