<div class="mb-3">
    <label>Total Population</label>
    <input type="number" name="total_population" value="{{ data.total_population }}" class="form-control">
  </div>
  <div class="mb-3">
    <label>Male Population</label>
    <input type="number" name="male_population" value="{{ data.male_population }}" class="form-control">
  </div>
  <div class="mb-3">
    <label>Female Population</label>
    <input type="number" name="female_population" value="{{ data.female_population }}" class="form-control">
  </div>
  